<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>选择课程</title>
    <link href="/css/student/StudentChooseCoursePage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="/img/home.png">首页
        <img src="/img/help.png">帮助
        <img src="/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="title">导航</div>
        <div class="line"></div>
        <div class="courseIntroduction">
            <a class="guidefont" href="/student/home">基本信息</a>
            <a class="guidefont" href="/student/courseHome">课程信息</a>
            <a class="guidefont" href="#">选择课程</a>
        </div>
    </div>
    <div class="content">
        <div class="title">选择课程</div>
        <hr class="line"/>

        <div class="checkcourse">
            <form class="itemName">
                <p>任课教师：<input type="text" name="teacher"></p>
                <p>课程名称：<input type="text" name="course"><input type="submit" value="查询"></p>

            </form>
        </div>


    </div>


    <div class="clear"></div>
</div>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/student/StudentChooseCoursePage.js"></script>
</body>

</html>