<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
    <link href="/css/teacher/TeacherCreateSchool.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>

    </script>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
    <img src="/img/home.png">首页
    <img src="/img/help.png">帮助
    <img src="/img/exit.png">退出
</div>
<div class="province">所在省份:<select class="provinceSelect" id="province"></select></div>
<div class="city">所在城市:<select class="citySelect" id="city"></select></div>
<div class="school">学校名称:<input type="text" name="school" id="school"/></div>
<div class="submit" id="submit">提交</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/teacher/TeacherCreateSchool.js"></script>
</body>

</html>