<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改班级</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/teacher/content.css">
</head>
<body>

<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="/img/home.png">首页
        <img src="/img/help.png">帮助
        <img src="/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName" id="courseName">OOAD</div>
        <div class="line"></div>
        <div class="courseIntroduction" id="courseIntroduction">ooad is xxx</div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">修改班级信息</div>
            <div class="returnButton">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody">
                <div class="item">
                    <label class="itemName">班级名称:</label>
                    <input type="text" name="className" class="bigInput" id="className">
                </div>
                <div class="item">
                    <label class="itemName">上课地点:</label>
                    <input type="text" name="classNickname" class="bigInput" id="classSite">
                </div>
                <div class="item">
                    <label class="itemName">上课时间:</label>
                    <select class="bigSelect" id="week">
                        <option value="odd">单周</option>
                        <option value="even">双周</option>
                        <option value="every">每周</option>
                    </select>
                    <select class="smallSelect" id="day">
                        <option value="Mon">周一</option>
                        <option value="Tue">周二</option>
                        <option value="Wed">周三</option>
                        <option value="Thur">周四</option>
                        <option value="Fri">周五</option>
                    </select>
                    <select class="smallSelect" id="time">
                        <option value="one">一二节</option>
                        <option value="three">三四节</option>
                        <option value="five">五六节</option>
                        <option value="seven">七八节</option>
                        <option value="nine">九十节</option>
                    </select>
                    <button class="addButton" id="add">添加</button>
                </div>
                <div class="item">
                    <label class="itemName">评分规则:</label>
                    <label class="itemName">讨论分数占比</label>
                    <input type="text" id="seminarGrade" class="smallInput">
                    <label class="itemName">报告分数占比</label>
                    <input type="text" id="reportGrade" class="smallInput">
                </div>
                <div class="item" style="margin-left: 18%">
                    <label class="itemName">5分占比</label>
                    <input type="text" id="a" class="smallInput">
                    <label class="itemName">4分占比</label>
                    <input type="text" id="b" class="smallInput">
                    <label class="itemName">3分占比</label>
                    <input type="text" id="c" class="smallInput">
                </div>
                <div class="item">
                    <label class="itemName">导入学生名单:</label>
                    <form enctype="multipart/form-data">
                        <input type="file" value="choose file...">
                    </form>
                </div>
                <div class="item">
                    <button class="submit" id="submit">提交</button>
                    <button class="reset" id="reset">重置</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/teacher/TeacherUpdateClass.js"></script>
</body>
</html>