<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>讨论课修改</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/teacher/content.css">

</head>
<body>

<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="/img/home.png">首页
        <img src="/img/home.png">帮助
        <img src="/img/home.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName"></div>
        <div class="line"></div>
        <div class="courseIntroduction"></div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">讨论课</div>
            <div class="returnButton">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody">
                <div class="item">
                    <label class="itemName">讨论课名称:</label>
                    <input type="text" name="seminarName" class="bigInput">
                </div>
                <div class="item" style="height:40%;">
                    <label class="itemName">讨论课说明:</label>
                    <textarea class="textStyle" id="desc"></textarea>
                </div>
                <div class="item">
                    <label class="itemName">分组方式: </label>
                    <select class="bigSelect" id="groupingMethod">
                        <option value="0">固定分组</option>
                        <option value="1">随机分组</option>
                    </select>
                </div>
                <div class="item">
                    <label class="itemName">开始时间: </label>
                    <input type="date" name="startTime" class="timeStyle">
                    <label class="itemName" style="margin-left: 15%">结束时间: </label>
                    <input type="date" name="endTime" class="timeStyle">
                </div>
                <div class="item">
                    <label class="itemName">评分规则:</label>
                    <label class="itemName">讨论分数占比</label>
                    <input type="text" name="seminarGrade" class="smallInput">
                    <label class="itemName">报告分数占比</label>
                    <input type="text" name="reportGrade" class="smallInput">
                </div>
                <div class="item" style="margin-left: 18%">
                    <label class="itemName">5分占比</label>
                    <input type="text" name="aGrade" class="smallInput">
                    <label class="itemName">4分占比</label>
                    <input type="text" name="bGrade" class="smallInput">
                    <label class="itemName">3分占比</label>
                    <input type="text" name="cGrade" class="smallInput">
                </div>
                <div class="item">
                    <button class="submit">提 交</button>
                    <button class="reset">重 置</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script SRC="/js/teacher/TeacherUpdateSeminar.js"></script>
</body>
</html>