<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xmu.crms.mapper.SchoolMapper">
    <resultMap id="school" type="xmu.crms.entity.School">
        <id column="id" property="id" javaType="java.math.BigInteger"/>
        <result column="name" property="name"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
    </resultMap>


    <select id="getSchoolListByCity" resultType="xmu.crms.entity.School">
        SELECT id, name, province, city FROM school WHERE city = #{city}
    </select>

    <select id="rechecking" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM school
        WHERE (name=#{name} AND province=#{province} AND city=#{city})
    </select>

    <select id="getSchoolBySchoolId" resultType="xmu.crms.entity.School">
        SELECT id,`name`, province, city  from school WHERE id = #{SchoolId}
    </select>

    <insert id="insertSchool" parameterType="xmu.crms.entity.School" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO school(name, province, city) VALUES (#{name}, #{province}, #{city})
    </insert>
</mapper>
